.well {
  padding: 25px 20px;
  background-color: $gray4;
  blockquote {
    border-color: $gray3;
  }
}
.well-lg {
  padding: 30px 25px;
}


.rounded-sm{
  border-radius: $border-radius1;
  overflow: hidden;
}

.rounded-md{
  border-radius: $border-radius2;
  overflow: hidden;
}
.rounded-lg{
  border-radius: $border-radius3;
  overflow: hidden;
}

.round{
  border-radius: 100%;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background: $primary2;
	color: $primary5;
	text-shadow: none;
}
::-webkit-selection {
	background: $primary2;
	color: $primary5;
	text-shadow: none;
}
::-moz-selection {
	background: $primary2;
	color: $primary5;
	text-shadow: none;
}
